@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: 'Montserrat', sans-serif;
}
.progres-wrapper {
  position: relative;
}
.progress-labels {
  position: absolute;
  z-index: 5;
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.progress-labels div {
  font-size: 9px;
}
.progress-labels div:nth-child(even) {
  align-self: flex-end;
}

.progress-bar {
  position: absolute;
  top: 90px;
  z-index: 10;
  height: 10px;
  width: 650px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}


.options-wrapper {
  font-size: 10px;
  margin-top: 50px;
  width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}